<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"/>
    <link rel="stylesheet" href="./index.css" />
    <link rel="icon" href="https://cdn.glitch.global/b51151d7-0f53-4976-8558-3d4c10e294f7/public%2Ffavicon.ico?v=1735741694579" type="image/x-icon">
  </head>
  <body>
    <div id="main-container">
      <h1>My Cat Screamed Today</h1>
      <h2 id="count-el">0</h2>
      <button id="increment-btn" onclick="increment()">Add a Scream</button>
      <audio id="audioPlayer" src="https://cdn.glitch.global/b51151d7-0f53-4976-8558-3d4c10e294f7/public%2Fcatscream.mp3?v=1735709315666"></audio>
      <button id="save-btn" onclick="save()">SAVE</button>
      <h3 id="total-el">Total Global Cat Screams: 0</h3>
      <p id="save-el">Previous entries: </p>
    </div>
    <script src="./index.js">
    </script>
  </body>
</html>